// Custom styles.
// 主页文章添加阴影效果
.post {
   margin-top: 0px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 14px #cacbcb;
   -moz-box-shadow: 0 0 14px #cacbcb;
}
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}
// 边框的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}
.headband {
    height: 1px;
    background: #fff;
}
.header-inner {
    padding: 100px 0 20px;
}
.posts-expand {
    padding-top: 0px;
}
.posts-expand .post-meta {
    margin: 3px 0 10px 0;
}